:root{
    --main-color: #533a7b;
}

.logo img{
    height: 50px;
    width: 50px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
    padding: 0%;
    margin: 0;
}
.logo span{
    font-size: 30px;
    margin-left: 10px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    background-color: #1b1b32;
    color: aliceblue;
}
#header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
#header nav ul li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
#header nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
#header nav ul li a:hover{
    color: slateblue;
}
body{
    margin: 0;
}
#form{
    text-align: center;
    color: goldenrod;
    font-size: larger;
    font-weight: bolder;
    padding: auto;
    background-color: var(--main-color);
    border: none;
}
main{
    background-color: var(--main-color);
    border: none;
    border-radius: 0px;
}
#form fieldset{
    border: 0;
}
#form fieldset input{
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #3b3b4f;
    width: 50%;
}
#form fieldset input[type="submit"]{
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #3b3b4f;
    width: 20%
}
#form fieldset input[type="submit"]:hover{
    background-color: #3b3b4f;
    color: aliceblue;
}
#features{
    text-align: center;
    color: blanchedalmond;
}
#features div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#features div svg{
    height: 1%;
    width: 3%;
    padding-right: 10px;
}
#features div h3{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
#features div h3:hover {
    color: olivedrab;
}
#vid{
    text-align: center;
    height: 300px;
    justify-content: center;
    margin: 50px;
}
#working{
    text-align: center;
    color: aquamarine;
    font-size: larger;
    font-weight: bolder;
    padding: auto;
}
footer{
    background-color: var(--main-color);
    text-align: end;
}
footer a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}