.quote{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: greenyellow;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.author{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: palegoldenrod;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}
button{
    float: right;
    background-color: transparent;
}